<h1><%= @instance.protocol.name %></h1>

<h3>Cantidad de actividades: <%= @instance.protocol.activities.size %></h3>

<form class="" action="/instances/next/<%= @instance.id %>" method="get">
  <% @i=0 %>
  <% @instance.protocol.activities.each do |p| %>
    <div class="">

      <label for="score"><%= p.name %></label>
      <input type="number" name="score[<%= @i %>]" min="0" max="10" required>
    </div>
    <% @i=@i+1 %>
  <% end %>
  <input type="text" name="instance" value="<%= @instance.id %>" hidden>
  <input type="text" name="caseId" value="<%= @caseId %>" hidden>
  <input type="text" name="activityId" value="<%= @activityId %>" hidden>
  <button type="submit" name="button">Enviar</button>

</form>

<div class="div_buttons">
  <a class="btn btn-primary my_button" href="/index">Volver a inicio</a>
</div>
