<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>


<div class="field">
  <h3>Seleccionar protocolos</h3>
  <% @protocols.each do |p| %>
    <div class="">

      <label for="score"><%= p.name %></label>
      <input type="checkbox" name="added[<%= p.id %>]">
      <label for="score">Responsable</label>
      <input type="text" name="user[<%= p.id %>]">
      <!-- <label for="score">Es local?</label> -->
      <input type="text" name="local[<%= p.id %>]" value="<%if p.local==true %>1<% else %>0<% end %>" hidden>
      <label for="score">Orden</label>
      <input type="number" name="orden[<%= p.id %>]" min="0" >
    </div>
  <% end %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
