<div class="col-5 mx-auto">
  <%= form_with(model: project, local: true) do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field m-4">
      <%= form.label :name, 'Nombre' %>
      <%= form.text_field :name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= form.label :end_date, "Fecha de fin" %>
      <%= form.datetime_select :end_date %>
    </div>

  <%#  <div class="field">
      <h3>Seleccionar protocolos</h3>
      <% @protocols.each do |p| %->
        <div class="card bg-secondary text-white mb-3 p-2">
          <!-- bg-secondary o dark -->
          <h5><%= p.name %-></h5>
          <div class="form-check">
            <label for="added[<%= p.id %->]">Ejecutar</label>
            <input type="checkbox" name="added[<%= p.id %->]">
          </div>
          <label for="user[<%= p.id %->]">Responsable</label>
          <select class="" name="user[<%= p.id %->]">
            <% @users.each do |u| %->
              <option value="<%= u.id %->"><%= u.email %-></option>
            <% end %->
          </select>
        <%#  <input type="text" name="user[<%= p.id %->]" class="form-control"> %->
          <!-- <label for="score">Es local?</label> -->
          <input type="text" name="local[<%= p.id %->]" value="<%if p.local==true %->1<% else %->0<% end %->" hidden>
          <label for="orden[<%= p.id %->]">Orden</label>
          <input type="number" name="orden[<%= p.id %->]" min="0" class="form-control">
        </div>
      <% end %->
    </div> %>


  <div class="field">
    <h3>Seleccionar protocolos</h3>
    <% @protocols.each do |p| %>
      <div class="card bg-secondary text-white mb-3 p-2">
        <!-- bg-secondary o dark -->
        <h5><%= p.name %></h5>
        <h6><% if p.local %>Se ejecuta localmente<% else %>Se ejecuta remotamente<% end %></h6>
        <div class="form-check mt-1">
          <label for="params[<%= p.id %>][added]">Ejecutar</label>
          <input type="checkbox" name="params[<%= p.id %>][added]">
        </div>
        <div class="form-check mt-1">
          <label for="params[<%= p.id %>][start_date]">Fecha estimada de inicio del protocolo</label>
          <input type="datetime-local" name="params[<%= p.id %>][start_date]">
        </div>
        <div class="form-check mt-1">
          <label for="params[<%= p.id %>][end_date]">Fecha estimada de fin del protocolo</label>
          <input type="datetime-local" name="params[<%= p.id %>][end_date]">
        </div>
        <label for="params[<%= p.id %>][user]">Responsable</label>
        <select class="" name="params[<%= p.id %>][user]">
          <% @users.each do |u| %>
            <% if u.has_role? :responsable %><option value="<%= u.id %>"><%= u.email %></option><% end %>
          <% end %>
        </select>
        <input type="text" name="params[<%= p.id %>][protocol]" value="<%= p.id %>" hidden>
        <input type="text" name="params[<%= p.id %>][bonitaId]" value="<%= p.bonitaId %>" hidden>
        <input type="text" name="params[<%= p.id %>][local]" value="<%if p.local==true %>1<% else %>0<% end %>" hidden>
        <label for="params[<%= p.id %>][orden]">Orden</label>
        <input type="number" name="params[<%= p.id %>][orden]" min="0" class="form-control">
      </div>
    <% end %>
  </div>


    <div class="actions">
      <%= form.submit 'Crear', :class => 'btn btn-success my_button' %>
    </div>

  <% end %>
</div>
