Protocolos en ejecucion: <%= @running.size %>
Protocolos en ejecucion con todos los protocolos aprobados hasta el momento <%= @projects.size %>

<% @projects.each do |p| %>
    <br>
    <h3>nombre de proyecto  <%= p.name %></h3>
    <% p.instances.each do |i| %>
      <br>aaaaaaaaaaa<%= i.project_id %>
      <h5>protocolo <%= i.protocol.name %> <%= i.score.nil? or i.score>=5 %><%= i.score %></h5>
    <% end %>
    <br>
    <br>
    -------------------
    <br>
<% end %>
