<div class="col-4 mx-auto">
  <p id="notice"><%= notice %></p>
    <h3>Protocolo <%= @instancia.protocol.name %></h3>
  	<div class="card bg-dark">
      <h5>Nota: <%= @instancia.score %></h5>
      <div class="form-group">
        <form class="" action="/projects/resolver" method="post">
<!-- class="form-control" -->
          <select name="decision" class="form-control">
            <option value="cancelar" selected>Cancelar</option>
            <option value="continuar">Cotinuar</option>
            <option value="reiniciar">Reiniciar</option>
            <option value="repetir">Repetir</option>
          </select>
          <input type="text" name="caseId" value="<%= @caseId %>" hidden>
          <input type="text" name="activityId" value="<%= @activityId %>" hidden>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="submit" name="button" value="Aceptar" class="btn btn-primary my_button mt-3">
        </form>
      </div>
    </div>
</div>
