<p id="notice"><%= notice %></p>

<h1>Actividades</h1>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Protocol</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.protocol.name %></td>
        <%#<td><%= link_to 'Show', activity %-></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %-></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %-></td>%>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="div_buttons">
  <a class="btn btn-primary" href="/index">Volver a inicio</a>
</div>
